.Icon {
  height: 100px;
}

.App {
  text-align: center;
  background-image: url('../images/gradient2.jpg');
  height: 100%;
}

.App-header {
  height: 25vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
  color: white;
  padding-left: 10%;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
@media (max-height: 550px) {
  .App-header {
     display: none;
  }
}

 @media (max-width: 900px) {
   
   .App-title {
     padding-left: 0;
   }
   .App-header {
     height: 15vh;
   }

  }

 /* Mobile */
   @media only screen
   and (max-height: 750px)
   and (max-width: 450px) {
     .App-header {
        display: none;
     }
   }

/* Landscape Mobile */
   @media only screen
   and (max-height: 450px)
   and (max-width: 750px) {
     .App-header {
        display: none;
     }
  }
