.Card {
  height: 120px;
  width: 80px;
  padding: 0;
  border-radius: 5px;
  border: 2px solid white;
  display: inline-block;
  margin-top: 5px;
  margin: 2px;
}
.Day {
  height: 20px;
}
.Weathercon {
  height: 75px;
  align-items: center;
}
.Temp {
  height: 25px;
}
.Temp, .Day, .Weathercon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Weathercon i {
  font-size: 2em;
}
p {
  margin: 0;
}
