.Card {
  padding: 0;
  border-radius: 5px;
  border: 2px solid white;
  display: inline-block;
  margin-top: 5px;
  margin: 2px;
  height: 100%;
  width: 100%;
}

.Temp, .Day, .Weathercon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Weathercon i {
  font-size: 2.5em;
}
p {
  margin: 0;
  font-size: 1.5em;
}
.Day {
  height: 10%;
}
.Weathercon {
  height: 50%;
  align-items: center;
}
.TempMain {
  height: 25%;
}
.TempRange {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex
}
.TempRange p {
  font-size: 1.2em;
}
.TempLow {
  color: #4683fc;
}
.TempHigh {
  color: #d61111;
}

@media only screen
and (min-height: 751px)
and (max-width: 900px) {
  .Card{
    width: 48%;
    height: 26%;
    margin-top: 0px;
    align-content: center;
  }
  .Weathercon i {
    font-size: 1.5em;
  }
  p {
    margin: 0;
    font-size: 1em;
  }
  .Day{
    height: 40%;
  }
  .Weathercon {
    height: 30%;
  }
  .TempRange {
    height: 10%;
  }
}

/* Media */
@media only screen
and (max-height: 750px)
and (max-width: 450px) {

  .Card {
    height: 14%;
    width: 100%;
  }
  .TempRange {
    display: none;
  }
  .TempContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60%;
  }
  p {
    margin: 0;
    font-size: 1.3em;
  }
  .Weathercon i {
    font-size: 1.8em;
  }

 }

/* Landscape Media */
 @media only screen
 and (max-height: 450px)
 and (max-width: 750px) {

   .Card {
     width: 32%;
     height: 33%;
   }
   .TempRange {
     display: none;
   }
   .TempContent {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
   }

 }
