.Card {
  height: 120px;
  width: 80px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  margin-top: 5px;
  margin: 2px;
}
.Day {
  height: 20%;
}
.Icon {
  height: 60%;
}
.Temp {
  height: 20%;
}
.Column {
  width: 100%;
}
p {
  margin: 0;
}
