.SelectContainer {
  height: 15vh;
  margin: auto;
  width: 100%;
  display: flex;
}

.Select {
  height: 7vh;
  margin: auto;
  width: 40%;
}

.Select-control {
  height: 100%;
  width: 100%
}

.Select-multi-value-wrapper {
  font-size: 3vh;
  text-align: left;
  display: flex;
}

.Select-placeholder, .Select-value{
  padding-top: 1vh;
}

.VirtualizedSelectFocusedOption {
  background-color: rgba(0, 126, 255, 0.1);
}
.VirtualizedSelectDisabledOption {
  opacity: 0.5;
}
.VirtualizedSelectSelectedOption {
  font-weight: bold;
}
