.City {
  color: white;
  width: 100%;
  max-width: 1150px;
  border: 2px solid #5EADF5;
  background-color: #5EADF5;
  border-radius: 8px;
  height: 95%;
  width: 100%;
}

.CityTitle {
  color: white;
}

.HeaderButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.HeaderTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media (max-width: 900px) {
  .City { height: 98%; }
 }
