.City {
  color: white;
  width: 100%;
  max-width: 1150px;
  border-radius: 8px;
  height: 60vh;
  width: 100%;
}

.CityHeader {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CityTitle {
  margin: 0;
  color: white;
}


@media (max-width: 900px) {
  .City { height: 100%; }
 }

 @media (max-width: 550px) {
   .CityTitle { display: none; }
   .CityHeader { height: 6vh }
  }

 @media (max-height: 550px) {
   .CityTitle { display: none; }
  }

  @media only screen
  and (max-height: 450px)
  and (max-width: 750px) {
    .CityHeader { height: 8vh }
  }
