.City {
  color: white;
  width: 100%;
  max-width: 1150px;
  border-radius: 8px;
  height: 60vh;
  width: 100%;
}

.CityHeader {
  height: 10vh;
}

.HeaderButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.HeaderTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.HeaderTitle h1{
  color: white;
}


@media (max-width: 900px) {
  .City { height: 100%; }
 }

 @media (max-width: 550px) {
   .CityTitle { display: none; }
   .CityHeader { height: 6vh }
  }

 @media (max-height: 550px) {
   .CityTitle { display: none; }
  }
