.CityList {
  display: flex;
  height: 65vh;

}
.TabsMain {
  flex-direction: column;
}
.ant-tabs {
  width: 100%;
}

.ant-tabs-bar {
  width: 100%;
  max-width: 1150px;
  min-width: 125px;
  margin: auto;
}

.ant-tabs-content {
  height: 60vh;
}

.ant-tabs-tabpane {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: left;
}
.ant-tabs-tab {
  color: red;
  background-color: green;
}

.anticon-plus {
  display: none;
}


/* Tablet Width */
@media only screen
and (max-width: 900px) {
  .CityList {
    height: 85vh;
   }
}

/* Mobile */
@media only screen
and (max-height: 750px)
and (max-width: 500px) {

  .CityList {
    height: 85vh;
   }
  .ant-tabs-content {
    height: 100%;

  }
}

/* Landscape Mobile */
  @media only screen
  and (max-height: 450px)
  and (max-width: 750px) {

    .CityList {
      height: 85vh;
    }

 }
